*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

body{
    background-image: url(../velo.stud1o_/img/photo_2024-06-27_14-56-26.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block{
    width: 100px;
    height: 100px;
    background: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../velo.stud1o_/img/photo_2024-07-02_13-36-24.jpg);
    background-repeat: no-repeat;
    background-size: 100px;
    margin-bottom: 20px;
}

.link_name{
    color: white;
}

.social_name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
        background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.btn-hover {
    width: 500px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
        background-image: linear-gradient(to right, #ed6ea0, #da62f8, #f7186a , #fb3b9b);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

@media(max-width: 510px){
    .btn-hover {
        width: 350px;
    }
}

@media(max-width: 360px){
    .btn-hover {
        width: 300px;
    }
}

.post{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post_name{
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.post_name2{
    text-align: center;
    color: white;
    width: 280px;
}